<div class="content-actions-table">
    <div class="box-new">
        <button pButton pRipple label="New" pTooltip="Create a Client" tooltipPosition="bottom"
            (click)="showDialogCreate()" style="width: 100px;background-color:#0d6efd" icon="pi pi-plus"
            class="mr-1"></button>
    </div>
    <div class="flex">
        <button [disabled]="clientsList.length === 0" (click)="exportPdf()" type="button" pButton pRipple
            icon="pi pi-file-pdf" pTooltip="Export to PDF" class="p-button-warning me-2"
            tooltipPosition="bottom"></button>
    </div>
</div>

<div #tableClients *ngIf="clientsList.length > 0" class="table-responsive mt-4">
    <div class="d-flex justify-content-end">
        <div style="position: relative" class="search-box">
            <span class="p-input-icon-left" style="width: 300px;">
                <i class="pi pi-search"></i>
                <input pInputText type="text" [(ngModel)]="searchValue" style="padding-left: 35px" class="form-control"
                    placeholder="Search..." />
                <div *ngIf="searchValue"
                    style="position: absolute;top: 7px;left: 270px;background-color:rgb(222, 222, 222);border-radius:50%"
                    class="icon-time">
                    <button (click)="resetSearch()" style="border: none;background-color:transparent"><i
                            style="font-size: 13px;" class="pi pi-times"></i></button>
                </div>
            </span>
        </div>
    </div>
    <table class="table table-striped table-hover mt-2" style="text-align: center;">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name Company</th>
                <th>Direction</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Province</th>
                <th>Country</th>
                <th>CIF</th>
                <th>City</th>
                <th>Code Postal</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr style="padding:10px 0px"
                *ngFor="let client of clientsList | slice: (page-1) * pageSize : page * pageSize | searchFilter:searchValue">
                <td>{{client.idClient}}</td>
                <td>{{client.nameCompany}}</td>
                <td>{{client.direction}}</td>
                <td>{{client.phone}}</td>
                <td>{{client.email}}</td>
                <td>{{client.province}}</td>
                <td>{{client.country}}</td>
                <td>{{client.cif}}</td>
                <td>{{client.population}}</td>
                <td>{{client.codePostal}}</td>
                <td style="text-align: center;">
                    <button (click)="showInvoicesFromClient(client.idClient,client.nameCompany)"
                        pTooltip="Show Invoices" tooltipPosition="top"
                        style="border-radius: 50%;background-color:rgb(107, 107, 107);margin-right:5px"
                        class="actions btn btn-rounded"><span class="p-button-icon pi pi-info-circle"
                            style="color: white;font-size:14px" aria-hidden="true"></span></button>
                    <button style="border-radius: 50%;background-color:#80d780;margin-right:5px"
                        (click)="showDialogEdit(client)" class="actions btn btn-rounded"><span
                            class="p-button-icon pi pi-pencil" style="color: white;font-size:14px"
                            aria-hidden="true"></span></button>
                    <button class="actions btn btn-rounded" (click)="confirmDelete(client.idClient)"
                        style="border-radius: 50%;background-color:#e46969"><span class="p-button-icon pi pi-trash"
                            style="color: white;font-size:14px" aria-hidden="true"></span></button>
                </td>
            </tr>
        </tbody>
    </table>

    <ngb-pagination class="d-flex justify-content-center" [(page)]="page" [pageSize]="pageSize"
        [collectionSize]="clientsList.length" [boundaryLinks]="true">
    </ngb-pagination>

    <p-confirmDialog [style]="{width: '400px'}" [baseZIndex]="10000"></p-confirmDialog>
</div>
<p-toast></p-toast>
<p-dialog [(visible)]="display" appendTo="body" [style]="{width: '450px'}" [header]="titleDialog" styleClass="p-fluid"
    [modal]="true">
    <ng-template pTemplate="content">
        <form #clientForm="ngForm" name="clientForm" role="form" novalidate autocomplete="off">
            <div class="input-name form-group" style="margin: 10px 0px">
                <label for="name">Nombre Empresa</label>
                <input type="text" class="form-control" placeholder="Nombre Empresa" name="name"
                    [(ngModel)]="clientActive.nameCompany" id="name" #name="ngModel" minlength="3" maxlength="30"
                    required />
                <div *ngIf="(name.dirty && name.errors)">
                    <small class="form-text text-danger" *ngIf="name.errors['required']">
                        Este campo es requerido
                    </small>
                    <small class="form-text text-danger" *ngIf="name.errors['minlength']">
                        Este campo tiene que tener una longitud minima de 3 caracteres
                    </small>
                </div>
            </div>
            <div class="input-direction form-group" style="margin: 10px 0px">
                <label for="direction">Direccion</label>
                <input type="text" class="form-control" placeholder="Direccion" name="direction" #direction="ngModel"
                    [(ngModel)]="clientActive.direction" id="direction" minlength="3" maxlength="50" required />
                <div *ngIf="(direction.dirty && direction.errors)">
                    <small class="form-text text-danger" *ngIf="direction.errors['required']">
                        Este campo es requerido
                    </small>
                    <small class="form-text text-danger" *ngIf="direction.errors['minlength']">
                        Este campo tiene que tener una longitud minima de 3 caracteres
                    </small>
                </div>
            </div>
            <div class="input-phone form-group" style="margin: 10px 0px">
                <label for="phone">Telefono</label>
                <p-inputMask type="text" id="phone" [size]="9" [unmask]="true" placeholder="999-999-999"
                    [(ngModel)]="clientActive.phone" name="phone" #phone="ngModel" mask="999-999-999" [required]="true">
                </p-inputMask>
                <div *ngIf="(phone.dirty && phone.errors)">
                    <small class="form-text text-danger" *ngIf="phone.errors['required']">
                        Este campo es requerido
                    </small>
                </div>
            </div>
            <div class="input-email form-group" style="margin: 10px 0px">
                <label for="email">Email</label>
                <input type="email" class="form-control" placeholder="Email" name="email"
                    [(ngModel)]="clientActive.email" id="email" #email="ngModel" required />
                <div *ngIf="(email.dirty && email.errors)">
                    <small class="form-text text-danger" *ngIf="email.errors['required']">
                        Este campo es requerido.
                    </small>
                </div>
            </div>
            <div class="input-provincia form-group" style="margin: 10px 0px">
                <label for="province">Provincia</label>
                <input type="text" placeholder="Provincia" class="form-control" name="province"
                    [(ngModel)]="clientActive.province" id="province" #province="ngModel" required />
                <div *ngIf="(province.dirty && province.errors)">
                    <small class="form-text text-danger" *ngIf="province.errors['required']">
                        Este campo es requerido.
                    </small>
                </div>
            </div>
            <div class="input-country form-group" style="margin: 10px 0px">
                <label for="country">Pais</label>
                <input type="text" class="form-control" [(ngModel)]="clientActive.country" id="direction" name="country"
                    #country="ngModel" placeholder="Pais" required />
                <div *ngIf="(country.dirty && country.errors)">
                    <small class="form-text text-danger" *ngIf="country.errors['required']">
                        Este campo es requerido.
                    </small>
                </div>
            </div>
            <div class="input-cif form-group" style="margin: 10px 0px">
                <label for="cif">CIF</label>
                <input type="text" placeholder="CIF" class="form-control" [(ngModel)]="clientActive.cif" id="cif"
                    name="cif" #cif="ngModel" required />
                <div *ngIf="(cif.dirty && cif.errors)">
                    <small class="form-text text-danger" *ngIf="cif.errors['required']">
                        Este campo es requerido.
                    </small>
                </div>
            </div>
            <div class="input-population form-group" style="margin: 10px 0px">
                <label for="population">Poblacion</label>
                <input type="text" placeholder="Poblacion" class="form-control" [(ngModel)]="clientActive.population"
                    id="population" required name="population" #population="ngModel" />
                <div *ngIf="(population.dirty && population.errors)">
                    <small class="form-text text-danger" *ngIf="population.errors['required']">
                        Este campo es requerido.
                    </small>
                </div>
            </div>
            <div class="input-codePostal form-group" style="margin: 10px 0px">
                <label for="codePostal">Codigo Postal</label>
                <input type="text" placeholder="Codigo Postal" pattern="[0-9]+" maxlength="5" class="form-control"
                    [(ngModel)]="clientActive.codePostal" id="codePostal" name="codePostal" #codePostal="ngModel"
                    required />
                <div *ngIf="(codePostal.dirty && codePostal.errors)">
                    <small class="form-text text-danger" *ngIf="codePostal.errors['required']">
                        Este campo es requerido.
                    </small>
                    <small class="form-text text-danger"
                        *ngIf="codePostal.errors['maxlength'] || codePostal.errors['pattern']">
                        Debe estar compuesto por numeros.
                    </small>
                </div>
            </div>

            <div class="buttons-actions d-flex justify-content-end mt-4">
                <button (click)="saveClient()" [disabled]="clientForm.invalid" style="width: 120px;" pButton pRipple
                    label="Save" icon="pi pi-check" class="p-button-text"></button>
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">

    </ng-template>
</p-dialog>